// Define Sass variables for colors
$text-color: #3D3D3D;
$background-color: #6D6D6D;

// Apply the text color to body and p tags
body {
    color: $text-color;
    background-color: $background-color;
}

p {
    color: $text-color;
}

// Apply the background color to h2 tags
h2 {
    background-color: $background-color;
}
